@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    pass through the list of communities to this page to gather which community the user is apart of
*@
@{
}
@model Campus_Connect.ViewModels.CommunityViewModel

<div class="feed-page">
    <div class="add-post-toggle">
        <button id="showAddPostBtn" >Add Post</button>

        <div class="add-post-column" id="addPostForm">
        <form enctype="multipart/form-data" method="post" asp-action="CreateNewPost" asp-controller="Post">
            <fieldset>
                <legend>Add a new post</legend>
                <label>
                    Title: <input class="form-input" type="text" name="Title" placeholder="Post Title" />
                </label>
                <label>
                    Post Type:
                    <select name="PostType">
                        <option value="Question" >Question</option>
                        <option value="Idea">Idea</option>
                        <option value="Study Tips">Study Tips</option>
                        <option value="Resource Material">Resource Material</option>
                    </select>
                </label>
                <label>
                    Additional Notes:
                    <textarea style="width:100px;height:70px;" maxlength="150" name="AdditionalMessage"></textarea>
                </label>
                <label>
                    Visibility:
                    <select name="Visibility">
                        <option value="@Model.CommunityJoined.CommunityID">@Model.CommunityJoined.FacultyName</option>
                        <option value="public">Public</option>
                        @if(Model.InterestGroups != null){
                            @foreach(var group in Model.InterestGroups){
                                <option value="@group.ID" >@group.Name</option>
                            }
                        }
                    </select>
                </label>
                <label>
                    Resource Material <input type="file" name="PostFile"/>
                </label>
                <button class="signUpBtn" type="submit" >Post</button>
            </fieldset>
        </form>
    </div>
    </div>
    <hr />
    <div class="Posts-container">
        <div class="tab">
            <button id="defaultOpen" class="tablinks" onclick="openTab(event,'community')">@Model.CommunityJoined.FacultyName</button>
            <button class="tablinks" onclick="openTab(event,'public')">Public</button>
            <button class="tablinks" onclick="openTab(event,'interestGroups')">Interest</button>
            <button class="tablinks" onclick="openTab(event,'up-coming-events')">Upcoming events</button>
        </div>
        @*   show the posts *@
        <div id="community" class="tabcontent">
            @foreach(var post in Model.Posts.Where(p => p.Visibility.Equals(Model.CommunityJoined.CommunityID)))
            {
                <div class="tab-card">
                    <h5>@post.Title</h5>
                    <p>@post.PostType</p>
                    <p>@post.AdditionalMessage</p>
                    <p>@post.PostDate</p>
                    @if(post.FileUrl != null){
                        <a href="@post.FileUrl" target="_black" rel="noopener noreferrer">Download resource</a>
                    }
                    else
                    {
                        <p>No media attached</p>
                    }
                </div>

            }
        </div>

        <div id="public" class="tabcontent">
            @foreach (var post in Model.Posts.Where(p => p.Visibility.Equals("public")))
            {
                <div class="tab-card">
                    <h5>@post.Title</h5>
                    <p>@post.PostType</p>
                    <p>@post.AdditionalMessage</p>
                    <p>@post.PostDate</p>
                    @if (post.FileUrl != null)
                    {
                        <a href="@post.FileUrl" target="_black" rel="noopener noreferrer">Download resource</a>
                    }
                    else
                    {
                        <p>No media attached</p>
                    }
                </div>
            }
        </div>
        <div id="interestGroups" class="tabcontent">
            @foreach(var post in Model.Posts.Where(p => p.Visibility != "public" && p.Visibility != Model.CommunityJoined.CommunityID && Model.InterestGroups.Select(i => i.ID).Contains(p.Visibility))){
                <div class="tab-card">
                    <h5>@post.Title</h5>
                    <p>@post.PostType</p>
                    <p>@post.AdditionalMessage</p>
                    <p>@post.PostDate</p>
                    @if (post.FileUrl != null)
                    {
                        <a href="@post.FileUrl" target="_black" rel="noopener noreferrer">Download resource</a>
                    }
                    else
                    {
                        <p>No media attached</p>
                    }
                </div>
            }
        </div>
        <div id="up-coming-events" class="tabcontent">
            <button id="myBtn">Schedule meet up</button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times</span>
                    <form asp-action="scheduleMeetUp" method="post">
                        <input name="Name" type="text" placeholder="Name"/>
                        <input name="Purpose" type="text" placeholder="Purpose"/>
                        <select name="relatedID">
                            <option value="@Model.CommunityJoined.CommunityID" >@Model.CommunityJoined.FacultyName</option>
                            @if(Model.InterestGroups != null){
                                @foreach(var i in Model.InterestGroups){
                                    <option value="@i.ID" >@i.Name</option>
                                }
                            }
                        </select>
                        <textarea name="Description" placeholder="Additional notes to be added such as venue "></textarea>
                        <input type="Date" name="Date"/>
                        <input type="time" name="Time"/>
                        <button type="submit">Schedule it</button>
                    </form>
                </div>
            </div>
            @if (Model.meetUps.Count > 0)
            {
                <div class="meet-container">
                    @foreach (var m in Model.meetUps)
                    {
                        <p>@m.Name</p>
                        <p>@m.Purpose</p>
                        <p>@m.Date at @m.Time</p>
                        @if (!m.Members.ContainsKey(Model.User.Uid))
                        {
                            <form method="post" asp-action="attendMeetUp" asp-route-meetUpId="@m.MeetUpId" asp-route-userId="@Model.User.Uid">
                                <button type="submit">Attend</button>
                            </form>
                        }else{
                            <button disabled>Already attending</button>
                        }
                    }
                </div>
            }else{
                <p>No upcoming events</p>
            }
        </div>
    </div>


</div>
<script>
    const showBtn = document.getElementById('showAddPostBtn');
    const formDiv = document.getElementById('addPostForm');

    showBtn.addEventListener('click', () => {
        if(formDiv.style.display === 'none' || formDiv.style.display === ''){
            formDiv.style.display = 'block';
            showBtn.textContent = 'Hide Post Form';
        } else {
            formDiv.style.display = 'none';
            showBtn.textContent = 'Add Post';
        }
    });

</script>