@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    pass through the list of communities to this page to gather which community the user is apart of
*@
@{
}
@model Campus_Connect.ViewModels.CommunityViewModel

<div class="feed-page">
    <div class="add-post-column">
        <form enctype="multipart/form-data" method="post" asp-action="CreateNewPost" asp-controller="Post">
            <fieldset>
                <legend>Add a new post</legend>
                    <label>
                        Title: <input class="form-input" type="text" name="Title" placeholder="Post Title" />
                    </label>
                    <label>
                        Post Type:
                        <select name="PostType">
                            <option value="Question" >Question</option>
                            <option value="Idea">Idea</option>
                            <option value="Study Tips">Study Tips</option>
                            <option value="Resource Material">Resource Material</option>
                        </select>
                    </label>
                    <label>
                        Additional Notes:
                        <textarea style="width:100px;height:70px;" maxlength="150" name="AdditionalMessage"></textarea>
                    </label>
                    <label>
                        Visibility:
                        <select name="Visibility">
                            <option value="@Model.CommunityJoined.CommunityID">@Model.CommunityJoined.FacultyName</option>
                            <option value="public">Public</option>
                            @if(Model.InterestGroups != null){
                                @foreach(var group in Model.InterestGroups){
                                    <option value="@group.ID" >@group.Name</option>
                                }
                            }
                        </select>
                    </label>
                    <label>
                        Resource Material <input type="file" name="PostFile"/>
                    </label>
                    <button class="signUpBtn" type="submit" >Post</button>
            </fieldset>
        </form>
    </div>
    <hr />
    <div class="Posts-container">
        <div class="tab">
            <button id="defaultOpen" class="tablinks" onclick="openTab(event,'community')">@Model.CommunityJoined.FacultyName</button>
            <button class="tablinks" onclick="openTab(event,'public')">Public</button>
        </div>
            @*   show the posts *@
            <div id="community" class="tabcontent">
                @foreach(var post in Model.Posts.Where(p => p.Visibility.Equals(Model.CommunityJoined.CommunityID)))
                {
                    <p>@post.Title</p>
                    <p>@post.AdditionalMessage</p>
                    <p>@post.PostDate</p>
                }
            </div>

            <div id="public" class="tabcontent">
            @foreach (var post in Model.Posts.Where(p => p.Visibility.Equals("public")))
            {
                <p>@post.Title</p>
                <p>@post.AdditionalMessage</p>
                <p>@post.PostDate</p>
            }
            </div>
@*             <div id="interestGroups" class="tabcontent">
                @foreach(var post in Model.InterestGroups.Where(p => p.Users.Contains(Model.User.Uid))){
                <p>@post.Title</p>
                <p>@post.AdditionalMessage</p>
                <p>@post.PostDate</p>
                }
            </div> *@
    </div>
</div>